body {
  background-color: white;
  color: #31393C;
  font-family: 'Gotham SSm A', 'Gotham SSm B', 'Helvetica Neue Light', 'HelveticaNeue-Light', 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  margin: 0;
  padding: 0;
}